 <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">INSJ UiO</h2>
                    <hr class="light">
                    <p class="text-faded">INSJ UiO er et kontaktpunkt og veiledningstjeneste for studenter som ønsker å videreutvikle idéen sin eller få en fot inn i startupmiljøet.</p>
                </div>
            </div>
        </div>
</section>

<div class="container" id="people">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2> Menneskene i INSJ UiO</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-user text-primary sr-icons"></i>
                <h3>Anton Abilov</h3>
                <p class="text-muted">Test</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-user text-primary sr-icons"></i>
                <h3>Aleksander Røe Strømshoved</h3>
                <p class="text-muted">Test</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-user text-primary sr-icons"></i>
                <h3>Hans Fredrik Vestneshaugen</h3>
                <p class="text-muted">Test</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-user text-primary sr-icons"></i>
                <h3>Sebastian Berge</h3>
                <p class="text-muted">Test</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <i class="fa fa-4x fa-user text-primary sr-icons"></i>
                <h3>Stine Holst</h3>
                <p class="text-muted">Test</p>
            </div>
        </div>
    </div>

</div>

