{{!< default}}
<!--<div class="container">
	<div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		<p>This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.</p>
		<p>
			It includes the latest versions of
			<a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
			and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
		</p>
		<p>Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.</p>
		<hr>
		<p>We have created a default Admin user for you with the email <strong>anton.abilov@gmail.com</strong> and the password <strong>admin123</strong>.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>
		<p>
			Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			<a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
		</p>
	</div>
</div> -->

<header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Har du en idé?</h1>
                <hr>
                <p>Har du en idé og lurer på hva du skal gøre med den?</p>
                <a href="/contact" class="btn btn-primary btn-xl page-scroll">Meld den inn her!</a>
            </div>
        </div>
 </header>

 <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">INSJ UiO</h2>
                    <hr class="light">
                    <p class="text-faded">INSJ UiO er et kontaktpunkt og veiledningstjeneste for studenter som ønsker å videreutvikle idéen sin eller få en fot inn i startupmiljøet.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Prosessen</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container" id="process">
            <div class="row">
                <div class="col-lg-2 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-lightbulb-o text-primary sr-icons"></i>
                        <h3>Din idé</h3>
                        <p class="text-muted">Du har en idé som du har lyst til å realisere</p>
                    </div>
                </div>
                <div class="col-lg-1 col col-md-6" id="arrows">
                    <i class="fa fa-2x fa-arrow-right text-primary sr-icons"></i>   
                </div>
                <div class="col-lg-2 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-envelope text-primary sr-icons"></i>
                        <h3>Kontakt oss</h3>
                        <p class="text-muted">Du kontakter oss for hjelp</p>
                    </div>
                </div>
                <div class="col-lg-1 col col-md-6" id="arrows">
                    <i class="fa fa-2x fa-arrow-right text-primary sr-icons"></i>   
                </div>
                <div class="col-lg-2 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users text-primary sr-icons"></i>
                        <h3>Match</h3>
                        <p class="text-muted">Vi matcher deg med passende veileder</p>
                    </div>
                </div>
                <div class="col-lg-1 col col-md-6" id="arrows">
                    <i class="fa fa-2x fa-arrow-right text-primary sr-icons"></i>   
                </div>
                <div class="col-lg-2 col-md-4 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-trophy text-primary sr-icons"></i>
                        <h3>Realiser</h3>
                        <p class="text-muted">Realiser din idé!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
